In [1]:
import pandas as pd
from rdkit import Chem
from rdkit.Chem import PandasTools
import numpy as np
from molvs import standardize_smiles

In [2]:
TDB=pd.read_excel('Tautomer_database_release_3a.xlsx', na_values='nul',usecols=['Solvent', 'SMILES_1',  'Quantitative_ratio_1', 'SMILES_2',  'Quantitative_ratio_2'])
TDB

,Solvent,SMILES_1,Quantitative_ratio_1,SMILES_2,Quantitative_ratio_2
0,Gas phase,O=C(C)CC(C)=O,NaN,O/C(C)=C\C(C)=O,NaN
1,Gas phase,N1=CC=N[NH]1,NaN,[NH]1N=NC=C1,NaN
2,HMPT,CC1=CC=NN1,NaN,CC1=NNC=C1,NaN
3,DMSO-d6,N=N=NC1=NNC2=CC=CC=C12,NaN,N=N=NC1=C2C=CC=CC2=NN1,NaN
4,Carbon tetrachloride,CC1([C@H]2C(C=O)=C(O)[C@@](CC2)1C)C,NaN,CC1([C@H](CC[C@@](C)1C/2=O)C2=C\O)C,NaN
...,...,...,...,...,...
2814,THF,ClC1=CC=C(C=C1)N=NC2=C(C=CC=C2)P(C3=CC=CC=C3)C...,5.848,ClC1=CC=C(C=C1)[N]2[N-]C5=C([P+]2(C3=CC=CC=C3)...,94.152
2815,THF,ClC2=CC(=C(N=NC1=CC=CC=C1)C=C2)P(C3=CC=CC=C3)C...,1.715,C1=CC=C(C=C1)[N]2[N-]C5=C([P+]2(C3=CC=CC=C3)C4...,98.285
2816,THF,ClC1=CC=C(C=C1)N=NC2=C(C=C(C=C2)C)P(C3=CC=CC=C...,69.93,ClC1=CC=C(C=C1)[N]2[N-]C5=C([P+]2(C3=CC=CC=C3)...,30.07
2817,THF,ClC2=CC(=C(N=NC1=CC=C(C)C=C1)C=C2)P(C3=CC=CC=C...,13.947,ClC5=CC1=C([N-][N]([P+]1(C2=CC=CC=C2)C3=CC=CC=...,86.053
2818,THF,ClC2=CC(=C(N=NC1=CC=C(Cl)C=C1)C=C2)P(C3=CC=CC=...,<0.99,ClC1=CC=C(C=C1)[N]2[N-]C5=C([P+]2(C3=CC=CC=C3)...,>99.01

In [3]:
TDB=TDB.query("Solvent=='Water' or Solvent=='Water-d2'")
TDB=TDB.dropna(subset=['Quantitative_ratio_2'],how='any')
TDB=TDB.reset_index(drop=True)
TDB

,Solvent,SMILES_1,Quantitative_ratio_1,SMILES_2,Quantitative_ratio_2
0,Water,O=C1C=C(Cl)NC=C1,0.55,OC1=CC(Cl)=NC=C1,0.45
1,Water,O=C1NC=NC=C1,0.7,O=C1N=CNC=C1,0.3
2,Water,CC1=C(C)C(ON1)=O,<0.010,CC(C1C)=NOC1=O,<0.200
3,Water,OC1=CC(C2=CC=CC=C2)=NO1,NaN,O=C1ON=C(C1)C2=CC=CC=C2,0.7
4,Water,OC1=C(C)C(C2=CC=CC=C2)=NO1,<0.100,O=C1ON=C(C1C)C2=CC=CC=C2,<0.100
5,Water,O=C1C(Br)C(C2=CC=CC=C2)=NO1,0.2,O=C1C(Br)=C(C2=CC=CC=C2)NO1,0.8
6,Water,O=C1C=C(C)NO1,0.3,O=C1CC(C)=NO1,0.7
7,Water,O=C1CC(C(C)(C)C)=NO1,0.7,O=C1C=C(C(C)(C)C)NO1,0.3
8,Water,O=C1CC(C2=CC=C([N+]([O-])=O)C=C2)=NO1,0.8,O=C1C=C(C2=CC=C([N+]([O-])=O)C=C2)NO1,0.2
9,Water,O=C1C=C(C2=CC=C(OC)C=C2)NO1,0.2,O=C1CC(C2=CC=C(OC)C=C2)=NO1,0.8
10,Water,OCCCC(C)=O,1,OC1(C)CCCO1,0
11,Water,OCCCCC(C)=O,1,OC1(C)CCCCO1,0
12,Water,O=C2C3=C(C=CC=C3)/C(C=C2)=N/NC1=CC=CC=C1,0.701493,OC4=CC=C(/N=N/C6=CC=CC=C6)C5=C4C=CC=C5,0.298507
13,Water,O=C2C3=C(C=CC=C3)/C(C=C2)=N/NC1=CC=C(C)C=C1,0.579832,OC4=CC=C(/N=N/C6=CC=C(C)C=C6)C5=C4C=CC=C5,0.420168
14,Water,O=C2C3=C(C=CC=C3)/C(C=C2)=N/NC1=CC=C(Cl)C=C1,0.642857,OC4=CC=C(/N=N/C6=CC=C(Cl)C=C6)C5=C4C=CC=C5,0.357143
15,Water,O=C2C3=C(C=CC=C3)/C(C=C2)=N/NC1=CC=C(OC)C=C1,0.450549,OC4=CC=C(/N=N/C6=CC=C(OC)C=C6)C5=C4C=CC=C5,0.549451
16,Water,ON1N=C2C=CC=CC2=C1C,0.35,[O-][N+]3=C(C)C4=C(N3[H])C=CC=C4,0.65
17,Water-d2,OB(C1=C(C(F)=CC([H])=C1)C=O)O[H],0.854701,OB(C2=C3C(F)=CC([H])=C2)OC3O[H],0.145299
18,Water-d2,O=C1NCC=C1,66.667,O=C1NC=CC1,33.333
19,Water,O=[S](CC1=CC=NC=C1)(C2=CC=CC=C2)=O,99.99,O=[S](C=C1C=CNC=C1)(C2=CC=CC=C2)=O,0
20,Water,O=C1C3=C(CC2=C1C=CC=C2)C=CC=C3,99.32,OC2=C1C=CC=CC1=CC3=C2C=CC=C3,0.68

In [4]:
for i in range(len(TDB)):
    if type(TDB.loc[i, 'Quantitative_ratio_1'])==str or TDB.loc[i, 'Quantitative_ratio_1']==1 or pd.isnull(TDB.loc[i, 'Quantitative_ratio_1']):
        TDB=TDB.drop(i)

TDB

,Solvent,SMILES_1,Quantitative_ratio_1,SMILES_2,Quantitative_ratio_2
0,Water,O=C1C=C(Cl)NC=C1,0.55,OC1=CC(Cl)=NC=C1,0.45
1,Water,O=C1NC=NC=C1,0.7,O=C1N=CNC=C1,0.3
5,Water,O=C1C(Br)C(C2=CC=CC=C2)=NO1,0.2,O=C1C(Br)=C(C2=CC=CC=C2)NO1,0.8
6,Water,O=C1C=C(C)NO1,0.3,O=C1CC(C)=NO1,0.7
7,Water,O=C1CC(C(C)(C)C)=NO1,0.7,O=C1C=C(C(C)(C)C)NO1,0.3
8,Water,O=C1CC(C2=CC=C([N+]([O-])=O)C=C2)=NO1,0.8,O=C1C=C(C2=CC=C([N+]([O-])=O)C=C2)NO1,0.2
9,Water,O=C1C=C(C2=CC=C(OC)C=C2)NO1,0.2,O=C1CC(C2=CC=C(OC)C=C2)=NO1,0.8
12,Water,O=C2C3=C(C=CC=C3)/C(C=C2)=N/NC1=CC=CC=C1,0.701493,OC4=CC=C(/N=N/C6=CC=CC=C6)C5=C4C=CC=C5,0.298507
13,Water,O=C2C3=C(C=CC=C3)/C(C=C2)=N/NC1=CC=C(C)C=C1,0.579832,OC4=CC=C(/N=N/C6=CC=C(C)C=C6)C5=C4C=CC=C5,0.420168
14,Water,O=C2C3=C(C=CC=C3)/C(C=C2)=N/NC1=CC=C(Cl)C=C1,0.642857,OC4=CC=C(/N=N/C6=CC=C(Cl)C=C6)C5=C4C=CC=C5,0.357143
15,Water,O=C2C3=C(C=CC=C3)/C(C=C2)=N/NC1=CC=C(OC)C=C1,0.450549,OC4=CC=C(/N=N/C6=CC=C(OC)C=C6)C5=C4C=CC=C5,0.549451
16,Water,ON1N=C2C=CC=CC2=C1C,0.35,[O-][N+]3=C(C)C4=C(N3[H])C=CC=C4,0.65
17,Water-d2,OB(C1=C(C(F)=CC([H])=C1)C=O)O[H],0.854701,OB(C2=C3C(F)=CC([H])=C2)OC3O[H],0.145299
18,Water-d2,O=C1NCC=C1,66.667,O=C1NC=CC1,33.333
19,Water,O=[S](CC1=CC=NC=C1)(C2=CC=CC=C2)=O,99.99,O=[S](C=C1C=CNC=C1)(C2=CC=CC=C2)=O,0
20,Water,O=C1C3=C(CC2=C1C=CC=C2)C=CC=C3,99.32,OC2=C1C=CC=CC1=CC3=C2C=CC=C3,0.68

In [5]:
TDB.loc[19,'Quantitative_ratio_2']=100-TDB.loc[19,'Quantitative_ratio_1']
TDB=TDB.reset_index(drop=True)
TDB

,Solvent,SMILES_1,Quantitative_ratio_1,SMILES_2,Quantitative_ratio_2
0,Water,O=C1C=C(Cl)NC=C1,0.55,OC1=CC(Cl)=NC=C1,0.45
1,Water,O=C1NC=NC=C1,0.7,O=C1N=CNC=C1,0.3
2,Water,O=C1C(Br)C(C2=CC=CC=C2)=NO1,0.2,O=C1C(Br)=C(C2=CC=CC=C2)NO1,0.8
3,Water,O=C1C=C(C)NO1,0.3,O=C1CC(C)=NO1,0.7
4,Water,O=C1CC(C(C)(C)C)=NO1,0.7,O=C1C=C(C(C)(C)C)NO1,0.3
5,Water,O=C1CC(C2=CC=C([N+]([O-])=O)C=C2)=NO1,0.8,O=C1C=C(C2=CC=C([N+]([O-])=O)C=C2)NO1,0.2
6,Water,O=C1C=C(C2=CC=C(OC)C=C2)NO1,0.2,O=C1CC(C2=CC=C(OC)C=C2)=NO1,0.8
7,Water,O=C2C3=C(C=CC=C3)/C(C=C2)=N/NC1=CC=CC=C1,0.701493,OC4=CC=C(/N=N/C6=CC=CC=C6)C5=C4C=CC=C5,0.298507
8,Water,O=C2C3=C(C=CC=C3)/C(C=C2)=N/NC1=CC=C(C)C=C1,0.579832,OC4=CC=C(/N=N/C6=CC=C(C)C=C6)C5=C4C=CC=C5,0.420168
9,Water,O=C2C3=C(C=CC=C3)/C(C=C2)=N/NC1=CC=C(Cl)C=C1,0.642857,OC4=CC=C(/N=N/C6=CC=C(Cl)C=C6)C5=C4C=CC=C5,0.357143
10,Water,O=C2C3=C(C=CC=C3)/C(C=C2)=N/NC1=CC=C(OC)C=C1,0.450549,OC4=CC=C(/N=N/C6=CC=C(OC)C=C6)C5=C4C=CC=C5,0.549451
11,Water,ON1N=C2C=CC=CC2=C1C,0.35,[O-][N+]3=C(C)C4=C(N3[H])C=CC=C4,0.65
12,Water-d2,OB(C1=C(C(F)=CC([H])=C1)C=O)O[H],0.854701,OB(C2=C3C(F)=CC([H])=C2)OC3O[H],0.145299
13,Water-d2,O=C1NCC=C1,66.667,O=C1NC=CC1,33.333
14,Water,O=[S](CC1=CC=NC=C1)(C2=CC=CC=C2)=O,99.99,O=[S](C=C1C=CNC=C1)(C2=CC=CC=C2)=O,0.01
15,Water,O=C1C3=C(CC2=C1C=CC=C2)C=CC=C3,99.32,OC2=C1C=CC=CC1=CC3=C2C=CC=C3,0.68

In [6]:
TDB['KT']=TDB['Quantitative_ratio_2']/TDB['Quantitative_ratio_1']
TDB=TDB[['SMILES_1', 'SMILES_2', 'KT']]
TDB

,SMILES_1,SMILES_2,KT
0,O=C1C=C(Cl)NC=C1,OC1=CC(Cl)=NC=C1,0.818182
1,O=C1NC=NC=C1,O=C1N=CNC=C1,0.428571
2,O=C1C(Br)C(C2=CC=CC=C2)=NO1,O=C1C(Br)=C(C2=CC=CC=C2)NO1,4.0
3,O=C1C=C(C)NO1,O=C1CC(C)=NO1,2.333333
4,O=C1CC(C(C)(C)C)=NO1,O=C1C=C(C(C)(C)C)NO1,0.428571
5,O=C1CC(C2=CC=C([N+]([O-])=O)C=C2)=NO1,O=C1C=C(C2=CC=C([N+]([O-])=O)C=C2)NO1,0.25
6,O=C1C=C(C2=CC=C(OC)C=C2)NO1,O=C1CC(C2=CC=C(OC)C=C2)=NO1,4.0
7,O=C2C3=C(C=CC=C3)/C(C=C2)=N/NC1=CC=CC=C1,OC4=CC=C(/N=N/C6=CC=CC=C6)C5=C4C=CC=C5,0.425532
8,O=C2C3=C(C=CC=C3)/C(C=C2)=N/NC1=CC=C(C)C=C1,OC4=CC=C(/N=N/C6=CC=C(C)C=C6)C5=C4C=CC=C5,0.724638
9,O=C2C3=C(C=CC=C3)/C(C=C2)=N/NC1=CC=C(Cl)C=C1,OC4=CC=C(/N=N/C6=CC=C(Cl)C=C6)C5=C4C=CC=C5,0.555556
10,O=C2C3=C(C=CC=C3)/C(C=C2)=N/NC1=CC=C(OC)C=C1,OC4=CC=C(/N=N/C6=CC=C(OC)C=C6)C5=C4C=CC=C5,1.219512
11,ON1N=C2C=CC=CC2=C1C,[O-][N+]3=C(C)C4=C(N3[H])C=CC=C4,1.857143
12,OB(C1=C(C(F)=CC([H])=C1)C=O)O[H],OB(C2=C3C(F)=CC([H])=C2)OC3O[H],0.17
13,O=C1NCC=C1,O=C1NC=CC1,0.499993
14,O=[S](CC1=CC=NC=C1)(C2=CC=CC=C2)=O,O=[S](C=C1C=CNC=C1)(C2=CC=CC=C2)=O,0.0001
15,O=C1C3=C(CC2=C1C=CC=C2)C=CC=C3,OC2=C1C=CC=CC1=CC3=C2C=CC=C3,0.006847

In [7]:
TB=pd.read_excel('Tautobase.xlsx', usecols=['SMILES_1', 'SMILES_2', 'logK', '% (Tautomer1)',  'Solvent','Meas'])
TB

,SMILES_1,SMILES_2,logK,% (Tautomer1),Solvent,Meas
0,CC(C)C1=C(C)CCCCC1,CC(CCCCC1)C1=C(C)C,-0.21,NaN,Acetic acid,NaN
1,CC(C)C1=C(C)CCCC1,CC(CCCC1)C1=C(C)C,-0.86,NaN,Acetic acid,NaN
2,CC(C)C1=C(C)CCC1,CC(CCC1)C1=C(C)C,0.18,NaN,Acetic acid,NaN
3,CC(C)/C1=C(\C)/CCCCCC1,CC(CCCCCC1)C1=C(C)C,-0.75,NaN,Acetic acid,NaN
4,FC(c1c2nc(C(F)(F)F)[nH]n2c(C(F)(F)F)n1)(F)F,FC(c(nc1C(F)(F)F)c2n1nc(C(F)(F)F)[nH]2)(F)F,NaN,100,Acetone,NaN
...,...,...,...,...,...,...
1675,C(CC1)CCC1Nc1ccnc2c3ncccc3ccc12,C(CC1)CCC1/N=C1\c2ccc(cccn3)c3c2NC=C1,-4.8,NaN,NaN,NaN
1676,C(C1c2ccccc2)N=Nc2c1cccc2,C(C1c2ccccc2)=NNc2c1cccc2,NaN,0,NaN,NaN
1677,C(C1c2ccccc2)=NNc2c1cccc2,c(cc1)ccc1C1=CNNc2c1cccc2,NaN,100,NaN,NaN
1678,C(C1)CN=C2N1C(c1ccccc1)c(cccc1)c1N2,C(CN1)CN(C2c3ccccc3)C1=Nc1c2cccc1,1.44,NaN,NaN,NaN
1679,Brc1cnn[nH]1,Brc1c[nH]nn1,1.2,NaN,NaN,NaN

In [8]:
TB=TB.query("Solvent=='Water'")
TB=TB.query("Meas=='E'")
TB=TB.reset_index(drop=True)
TB

,SMILES_1,SMILES_2,logK,% (Tautomer1),Solvent,Meas
0,c(cc1)cc2c1nn[nH]2,c1cc2n[nH]nc2cc1,NaN,96,Water,E
1,[O-][N+](c(cncc1)c1O)=O,[O-][N+](C1=CNC=CC1=O)=O,3.9,NaN,Water,E
2,[O-][N+](c(cc1)cc(C2)c1NC2=O)=O,[O-][N+](c(cc1)cc2c1[nH]c(O)c2)=O,-6.5,NaN,Water,E
3,[O-][N+](Cc1nncc2ccccc12)=O,[O-][N+](/C=C1/NN=Cc2c1cccc2)=O,NaN,NaN,Water,E
4,[O-][N+](Cc1ncncc1)=O,[O-][N+](/C=C1\NC=NC=C1)=O,NaN,NaN,Water,E
...,...,...,...,...,...,...
292,C/N=C(/c1ccccc1)\S,CNC(c1ccccc1)=S,8.8,NaN,Water,E
293,C/N=C(/c1ccccc1)\O,CNC(c1ccccc1)=O,8.6,NaN,Water,E
294,C/C(/c(cccc1)c1O)=N\C,C/C(/NC)=C(\C=CC=C1)/C1=O,0.6,NaN,Water,E
295,C/C(/O)=N/C,CC(NC)=O,9.1,NaN,Water,E
296,C/C(/Cc1ncccc1)=N\C,C/C(/NC)=C/c1ncccc1,NaN,NaN,Water,E

In [9]:
for i in range(len(TB)):
    if pd.isnull(TB.loc[i, '% (Tautomer1)']) and pd.isnull(TB.loc[i, 'logK']):
        TB=TB.drop(i)
        
TB=TB.reset_index(drop=True)
TB

,SMILES_1,SMILES_2,logK,% (Tautomer1),Solvent,Meas
0,c(cc1)cc2c1nn[nH]2,c1cc2n[nH]nc2cc1,NaN,96,Water,E
1,[O-][N+](c(cncc1)c1O)=O,[O-][N+](C1=CNC=CC1=O)=O,3.9,NaN,Water,E
2,[O-][N+](c(cc1)cc(C2)c1NC2=O)=O,[O-][N+](c(cc1)cc2c1[nH]c(O)c2)=O,-6.5,NaN,Water,E
3,[O-][N+](CC(c1ccccc1)=O)=O,[O-][N+](/C=C(/c1ccccc1)\O)=O,-2.3,NaN,Water,E
4,[O-][N+](C(Cc1c2cccc1)C2=O)=O,[O-][N+](C(Cc1c2cccc1)=C2O)=O,-1.7,NaN,Water,E
...,...,...,...,...,...,...
179,C/N=C/C1Oc(cccc2)c2C1=O,CN/C=C1/Oc(cccc2)c2C1=O,NaN,0,Water,E
180,C/N=C(/c1ccccc1)\S,CNC(c1ccccc1)=S,8.8,NaN,Water,E
181,C/N=C(/c1ccccc1)\O,CNC(c1ccccc1)=O,8.6,NaN,Water,E
182,C/C(/c(cccc1)c1O)=N\C,C/C(/NC)=C(\C=CC=C1)/C1=O,0.6,NaN,Water,E
183,C/C(/O)=N/C,CC(NC)=O,9.1,NaN,Water,E

In [10]:
for i in range(len(TB)):
    if TB.loc[i, '% (Tautomer1)']==0 or TB.loc[i, '% (Tautomer1)']==100:
        TB=TB.drop(i)

TB=TB.reset_index(drop=True)
TB

,SMILES_1,SMILES_2,logK,% (Tautomer1),Solvent,Meas
0,c(cc1)cc2c1nn[nH]2,c1cc2n[nH]nc2cc1,NaN,96,Water,E
1,[O-][N+](c(cncc1)c1O)=O,[O-][N+](C1=CNC=CC1=O)=O,3.9,NaN,Water,E
2,[O-][N+](c(cc1)cc(C2)c1NC2=O)=O,[O-][N+](c(cc1)cc2c1[nH]c(O)c2)=O,-6.5,NaN,Water,E
3,[O-][N+](CC(c1ccccc1)=O)=O,[O-][N+](/C=C(/c1ccccc1)\O)=O,-2.3,NaN,Water,E
4,[O-][N+](C(Cc1c2cccc1)C2=O)=O,[O-][N+](C(Cc1c2cccc1)=C2O)=O,-1.7,NaN,Water,E
...,...,...,...,...,...,...
174,C/N=N/c(cccc1)c1O,CN/N=C(/C=CC=C1)\C1=O,0.2,NaN,Water,E
175,C/N=C(/c1ccccc1)\S,CNC(c1ccccc1)=S,8.8,NaN,Water,E
176,C/N=C(/c1ccccc1)\O,CNC(c1ccccc1)=O,8.6,NaN,Water,E
177,C/C(/c(cccc1)c1O)=N\C,C/C(/NC)=C(\C=CC=C1)/C1=O,0.6,NaN,Water,E
178,C/C(/O)=N/C,CC(NC)=O,9.1,NaN,Water,E

In [11]:
for i in range(len(TB)):
    if type(TB.loc[i,'logK'])==str:
        TB=TB.drop(i)

TB=TB.reset_index(drop=True)
TB

,SMILES_1,SMILES_2,logK,% (Tautomer1),Solvent,Meas
0,c(cc1)cc2c1nn[nH]2,c1cc2n[nH]nc2cc1,NaN,96,Water,E
1,[O-][N+](c(cncc1)c1O)=O,[O-][N+](C1=CNC=CC1=O)=O,3.9,NaN,Water,E
2,[O-][N+](c(cc1)cc(C2)c1NC2=O)=O,[O-][N+](c(cc1)cc2c1[nH]c(O)c2)=O,-6.5,NaN,Water,E
3,[O-][N+](CC(c1ccccc1)=O)=O,[O-][N+](/C=C(/c1ccccc1)\O)=O,-2.3,NaN,Water,E
4,[O-][N+](C(Cc1c2cccc1)C2=O)=O,[O-][N+](C(Cc1c2cccc1)=C2O)=O,-1.7,NaN,Water,E
...,...,...,...,...,...,...
162,C/N=N/c(cccc1)c1O,CN/N=C(/C=CC=C1)\C1=O,0.2,NaN,Water,E
163,C/N=C(/c1ccccc1)\S,CNC(c1ccccc1)=S,8.8,NaN,Water,E
164,C/N=C(/c1ccccc1)\O,CNC(c1ccccc1)=O,8.6,NaN,Water,E
165,C/C(/c(cccc1)c1O)=N\C,C/C(/NC)=C(\C=CC=C1)/C1=O,0.6,NaN,Water,E
166,C/C(/O)=N/C,CC(NC)=O,9.1,NaN,Water,E

In [12]:
for i in range(len(TB)):
    if pd.isnull(TB.loc[i, '% (Tautomer1)']):
        TB.loc[i, 'KT']=10**TB.loc[i, 'logK']
    if pd.isnull(TB.loc[i, 'logK']):
        TB.loc[i, 'KT']=(100-TB.loc[i, '% (Tautomer1)'])/(TB.loc[i, '% (Tautomer1)'])

TB

,SMILES_1,SMILES_2,logK,% (Tautomer1),Solvent,Meas,KT
0,c(cc1)cc2c1nn[nH]2,c1cc2n[nH]nc2cc1,NaN,96,Water,E,4.166667e-02
1,[O-][N+](c(cncc1)c1O)=O,[O-][N+](C1=CNC=CC1=O)=O,3.9,NaN,Water,E,7.943282e+03
2,[O-][N+](c(cc1)cc(C2)c1NC2=O)=O,[O-][N+](c(cc1)cc2c1[nH]c(O)c2)=O,-6.5,NaN,Water,E,3.162278e-07
3,[O-][N+](CC(c1ccccc1)=O)=O,[O-][N+](/C=C(/c1ccccc1)\O)=O,-2.3,NaN,Water,E,5.011872e-03
4,[O-][N+](C(Cc1c2cccc1)C2=O)=O,[O-][N+](C(Cc1c2cccc1)=C2O)=O,-1.7,NaN,Water,E,1.995262e-02
...,...,...,...,...,...,...,...
162,C/N=N/c(cccc1)c1O,CN/N=C(/C=CC=C1)\C1=O,0.2,NaN,Water,E,1.584893e+00
163,C/N=C(/c1ccccc1)\S,CNC(c1ccccc1)=S,8.8,NaN,Water,E,6.309573e+08
164,C/N=C(/c1ccccc1)\O,CNC(c1ccccc1)=O,8.6,NaN,Water,E,3.981072e+08
165,C/C(/c(cccc1)c1O)=N\C,C/C(/NC)=C(\C=CC=C1)/C1=O,0.6,NaN,Water,E,3.981072e+00
166,C/C(/O)=N/C,CC(NC)=O,9.1,NaN,Water,E,1.258925e+09

In [13]:
TB.sample(10)

,SMILES_1,SMILES_2,logK,% (Tautomer1),Solvent,Meas,KT
153,CC(NC(N)=N)=O,CC(N=C(N)N)=O,3.1,NaN,Water,E,1.258925e+03
166,C/C(/O)=N/C,CC(NC)=O,9.1,NaN,Water,E,1.258925e+09
38,OC1=NCCCC1,O=C1NCCCC1,7.6,NaN,Water,E,3.981072e+07
82,O=C(CC1)N=C2N1N=CN2,O=C1Nc2ncnn2CC1,3.5,NaN,Water,E,3.162278e+03
110,NC(N1)=NC2(CCCCC2)C1=O,NC(NC12CCCCC2)=NC1=O,3.3,NaN,Water,E,1.995262e+03
156,CC(C1)=Nc(ccnc2)c2NC1=O,CC(Nc(ccnc1)c1N1)=CC1=O,0.9,NaN,Water,E,7.943282e+00
99,NC(SC1)=NC1=O,Nc1nc(O)cs1,-4,NaN,Water,E,1.000000e-04
80,O=C(CCO1)CC1=O,OC(OCC1)=CC1=O,-2.35,NaN,Water,E,4.466836e-03
76,O=C1CC=CC=CC1,OC1=CC=CC=CC1,-1,NaN,Water,E,1.000000e-01
158,CC(C1)=NN(C)C1=O,CC(NN1C)=CC1=O,1.5,NaN,Water,E,3.162278e+01

In [14]:
TB=TB[['SMILES_1', 'SMILES_2', 'KT']]
TB

,SMILES_1,SMILES_2,KT
0,c(cc1)cc2c1nn[nH]2,c1cc2n[nH]nc2cc1,4.166667e-02
1,[O-][N+](c(cncc1)c1O)=O,[O-][N+](C1=CNC=CC1=O)=O,7.943282e+03
2,[O-][N+](c(cc1)cc(C2)c1NC2=O)=O,[O-][N+](c(cc1)cc2c1[nH]c(O)c2)=O,3.162278e-07
3,[O-][N+](CC(c1ccccc1)=O)=O,[O-][N+](/C=C(/c1ccccc1)\O)=O,5.011872e-03
4,[O-][N+](C(Cc1c2cccc1)C2=O)=O,[O-][N+](C(Cc1c2cccc1)=C2O)=O,1.995262e-02
...,...,...,...
162,C/N=N/c(cccc1)c1O,CN/N=C(/C=CC=C1)\C1=O,1.584893e+00
163,C/N=C(/c1ccccc1)\S,CNC(c1ccccc1)=S,6.309573e+08
164,C/N=C(/c1ccccc1)\O,CNC(c1ccccc1)=O,3.981072e+08
165,C/C(/c(cccc1)c1O)=N\C,C/C(/NC)=C(\C=CC=C1)/C1=O,3.981072e+00
166,C/C(/O)=N/C,CC(NC)=O,1.258925e+09

In [15]:
taut=pd.concat([TDB, TB], ignore_index=True)
taut.index.name = 'TautID'
taut

,SMILES_1,SMILES_2,KT
TautID,,,
0,O=C1C=C(Cl)NC=C1,OC1=CC(Cl)=NC=C1,0.818182
1,O=C1NC=NC=C1,O=C1N=CNC=C1,0.428571
2,O=C1C(Br)C(C2=CC=CC=C2)=NO1,O=C1C(Br)=C(C2=CC=CC=C2)NO1,4.0
3,O=C1C=C(C)NO1,O=C1CC(C)=NO1,2.333333
4,O=C1CC(C(C)(C)C)=NO1,O=C1C=C(C(C)(C)C)NO1,0.428571
...,...,...,...
178,C/N=N/c(cccc1)c1O,CN/N=C(/C=CC=C1)\C1=O,1.584893
179,C/N=C(/c1ccccc1)\S,CNC(c1ccccc1)=S,630957344.480194
180,C/N=C(/c1ccccc1)\O,CNC(c1ccccc1)=O,398107170.553497
181,C/C(/c(cccc1)c1O)=N\C,C/C(/NC)=C(\C=CC=C1)/C1=O,3.981072
182,C/C(/O)=N/C,CC(NC)=O,1258925411.794166

In [16]:
taut['KT'] = taut['KT'].astype("float64")
taut['logKT']=np.log10(taut['KT'])
taut

,SMILES_1,SMILES_2,KT,logKT
TautID,,,,
0,O=C1C=C(Cl)NC=C1,OC1=CC(Cl)=NC=C1,8.181818e-01,-0.087150
1,O=C1NC=NC=C1,O=C1N=CNC=C1,4.285714e-01,-0.367977
2,O=C1C(Br)C(C2=CC=CC=C2)=NO1,O=C1C(Br)=C(C2=CC=CC=C2)NO1,4.000000e+00,0.602060
3,O=C1C=C(C)NO1,O=C1CC(C)=NO1,2.333333e+00,0.367977
4,O=C1CC(C(C)(C)C)=NO1,O=C1C=C(C(C)(C)C)NO1,4.285714e-01,-0.367977
...,...,...,...,...
178,C/N=N/c(cccc1)c1O,CN/N=C(/C=CC=C1)\C1=O,1.584893e+00,0.200000
179,C/N=C(/c1ccccc1)\S,CNC(c1ccccc1)=S,6.309573e+08,8.800000
180,C/N=C(/c1ccccc1)\O,CNC(c1ccccc1)=O,3.981072e+08,8.600000
181,C/C(/c(cccc1)c1O)=N\C,C/C(/NC)=C(\C=CC=C1)/C1=O,3.981072e+00,0.600000
182,C/C(/O)=N/C,CC(NC)=O,1.258925e+09,9.100000

In [17]:
taut.sample(10)

,SMILES_1,SMILES_2,KT,logKT
TautID,,,,
110,Nc1cccc(O)n1,NC(N1)=CC=CC1=O,1.995262e+03,3.300000
55,OC1=NCCC=C1,O=C1NCCC=C1,1.258925e+07,7.100000
134,Cc1nnc2n1c(cccc1)c1[nH]2,Cc1n[nH]c2nc(cccc3)c3n12,6.309573e-04,-3.200000
19,[O-][N+](CC(c1ccccc1)=O)=O,[O-][N+](/C=C(/c1ccccc1)\O)=O,5.011872e-03,-2.300000
12,OB(C1=C(C(F)=CC([H])=C1)C=O)O[H],OB(C2=C3C(F)=CC([H])=C2)OC3O[H],1.700000e-01,-0.769551
14,O=[S](CC1=CC=NC=C1)(C2=CC=CC=C2)=O,O=[S](C=C1C=CNC=C1)(C2=CC=CC=C2)=O,1.000100e-04,-3.999957
173,CC(C1)=NOC1=O,Cc1noc(O)c1,6.309573e-02,-1.200000
43,Oc(ncc(Cl)c1)c1Cl,O=C(C(Cl)=C1)NC=C1Cl,1.258925e+02,2.100000
78,O=C1N=C(c2ccccc2)SC1c1ccccc1,Oc1c(-c2ccccc2)sc(-c2ccccc2)n1,5.011872e+01,1.700000
115,NC(SC1)=NC1=O,Nc1nc(O)cs1,1.000000e-04,-4.000000

In [18]:
ma=0
mi=0
c=0
for i in range(len(taut)):
    if taut.loc[i, 'logKT']>0:
        ma=ma+1
    if taut.loc[i, 'logKT']<0:
        mi=mi+1
    if taut.loc[i, 'logKT']==0:
        c=c+1

In [19]:
print('Number of equilibriums where the product has a greater proportion:', ma)
print('Number of equilibriums where the reactive has a greater proportion:', mi)
print('Number of equilibriums where the two molecules are in the same proportion:', c)

Number of equilibriums where the product has a greater proportion: 103
Number of equilibriums where the reactive has a greater proportion: 76
Number of equilibriums where the two molecules are in the same proportion: 4

In [20]:
for i in range(len(taut)):
    if taut.loc[i, 'logKT']>0 or taut.loc[i, 'logKT']==0:
        taut.loc[i,'T1']=taut.loc[i,'SMILES_1']
        taut.loc[i,'T2']=taut.loc[i,'SMILES_2']
        taut.loc[i,'logK']=taut.loc[i,'logKT']
    if taut.loc[i, 'logKT']<0:
        taut.loc[i,'T1']=taut.loc[i,'SMILES_2']
        taut.loc[i,'T2']=taut.loc[i,'SMILES_1']
        taut.loc[i,'KT'] = 1/taut.loc[i,'KT']
        taut.loc[i,'logK'] = np.log10(taut.loc[i,'KT'])


taut

,SMILES_1,SMILES_2,KT,logKT,T1,T2,logK
TautID,,,,,,,
0,O=C1C=C(Cl)NC=C1,OC1=CC(Cl)=NC=C1,1.222222e+00,-0.087150,OC1=CC(Cl)=NC=C1,O=C1C=C(Cl)NC=C1,0.087150
1,O=C1NC=NC=C1,O=C1N=CNC=C1,2.333333e+00,-0.367977,O=C1N=CNC=C1,O=C1NC=NC=C1,0.367977
2,O=C1C(Br)C(C2=CC=CC=C2)=NO1,O=C1C(Br)=C(C2=CC=CC=C2)NO1,4.000000e+00,0.602060,O=C1C(Br)C(C2=CC=CC=C2)=NO1,O=C1C(Br)=C(C2=CC=CC=C2)NO1,0.602060
3,O=C1C=C(C)NO1,O=C1CC(C)=NO1,2.333333e+00,0.367977,O=C1C=C(C)NO1,O=C1CC(C)=NO1,0.367977
4,O=C1CC(C(C)(C)C)=NO1,O=C1C=C(C(C)(C)C)NO1,2.333333e+00,-0.367977,O=C1C=C(C(C)(C)C)NO1,O=C1CC(C(C)(C)C)=NO1,0.367977
...,...,...,...,...,...,...,...
178,C/N=N/c(cccc1)c1O,CN/N=C(/C=CC=C1)\C1=O,1.584893e+00,0.200000,C/N=N/c(cccc1)c1O,CN/N=C(/C=CC=C1)\C1=O,0.200000
179,C/N=C(/c1ccccc1)\S,CNC(c1ccccc1)=S,6.309573e+08,8.800000,C/N=C(/c1ccccc1)\S,CNC(c1ccccc1)=S,8.800000
180,C/N=C(/c1ccccc1)\O,CNC(c1ccccc1)=O,3.981072e+08,8.600000,C/N=C(/c1ccccc1)\O,CNC(c1ccccc1)=O,8.600000
181,C/C(/c(cccc1)c1O)=N\C,C/C(/NC)=C(\C=CC=C1)/C1=O,3.981072e+00,0.600000,C/C(/c(cccc1)c1O)=N\C,C/C(/NC)=C(\C=CC=C1)/C1=O,0.600000
182,C/C(/O)=N/C,CC(NC)=O,1.258925e+09,9.100000,C/C(/O)=N/C,CC(NC)=O,9.100000

In [21]:
taut=taut[['SMILES_1','SMILES_2','T1','T2', 'KT', 'logKT', 'logK']]
taut.sample(10)

,SMILES_1,SMILES_2,T1,T2,KT,logKT,logK
TautID,,,,,,,
18,[O-][N+](c(cc1)cc(C2)c1NC2=O)=O,[O-][N+](c(cc1)cc2c1[nH]c(O)c2)=O,[O-][N+](c(cc1)cc2c1[nH]c(O)c2)=O,[O-][N+](c(cc1)cc(C2)c1NC2=O)=O,3.162278e+06,-6.50000,6.50000
6,O=C1C=C(C2=CC=C(OC)C=C2)NO1,O=C1CC(C2=CC=C(OC)C=C2)=NO1,O=C1C=C(C2=CC=C(OC)C=C2)NO1,O=C1CC(C2=CC=C(OC)C=C2)=NO1,4.000000e+00,0.60206,0.60206
125,NC(N1)=NC=CC1=O,N=C(NC=C1)NC1=O,N=C(NC=C1)NC1=O,NC(N1)=NC=CC1=O,3.981072e+06,-6.60000,6.60000
102,O=C(C(Cl)(Cl)Cl)Nc1nccs1,O=C(C(Cl)(Cl)Cl)/N=C1\SC=CN1,O=C(C(Cl)(Cl)Cl)Nc1nccs1,O=C(C(Cl)(Cl)Cl)/N=C1\SC=CN1,1.995262e+01,1.30000,1.30000
124,NC(N1)=NN=CC1=O,N=C(N1)NN=CC1=O,N=C(N1)NN=CC1=O,NC(N1)=NN=CC1=O,4.466836e+02,-2.65000,2.65000
105,Nc1nccc(O)c1,NC(NC=C1)=CC1=O,Nc1nccc(O)c1,NC(NC=C1)=CC1=O,1.258925e+03,3.10000,3.10000
154,CCOC(C(Cc1ncccc1)=O)=O,CCOC(/C(/O)=C/c1ncccc1)=O,CCOC(C(Cc1ncccc1)=O)=O,CCOC(/C(/O)=C/c1ncccc1)=O,1.000000e+02,2.00000,2.00000
152,CCOC(CC(C(C)=O)=O)=O,CCOC(/C=C(/C(C)=O)\O)=O,CCOC(CC(C(C)=O)=O)=O,CCOC(/C=C(/C(C)=O)\O)=O,1.000000e+02,2.00000,2.00000
77,O=C1N=CC=C2N1N=NN2,O=C1n2nnnc2C=CN1,O=C1N=CC=C2N1N=NN2,O=C1n2nnnc2C=CN1,1.000000e+06,6.00000,6.00000
75,O=C1N=Cc(cccc2)c2N1,O=C1N=C(C=CC=C2)C2=CN1,O=C1N=C(C=CC=C2)C2=CN1,O=C1N=Cc(cccc2)c2N1,1.258925e+02,-2.10000,2.10000

In [22]:
taut=taut[['T1','T2', 'logK']]
tauts=taut
taut

                                 T1                           T2      logK
TautID
0                  OC1=CC(Cl)=NC=C1             O=C1C=C(Cl)NC=C1  0.087150
1                      O=C1N=CNC=C1                 O=C1NC=NC=C1  0.367977
2       O=C1C(Br)C(C2=CC=CC=C2)=NO1  O=C1C(Br)=C(C2=CC=CC=C2)NO1  0.602060
3                     O=C1C=C(C)NO1                O=C1CC(C)=NO1  0.367977
4              O=C1C=C(C(C)(C)C)NO1         O=C1CC(C(C)(C)C)=NO1  0.367977
...                             ...                          ...       ...
178               C/N=N/c(cccc1)c1O        CN/N=C(/C=CC=C1)\C1=O  0.200000
179              C/N=C(/c1ccccc1)\S              CNC(c1ccccc1)=S  8.800000
180              C/N=C(/c1ccccc1)\O              CNC(c1ccccc1)=O  8.600000
181           C/C(/c(cccc1)c1O)=N\C    C/C(/NC)=C(\C=CC=C1)/C1=O  0.600000
182                     C/C(/O)=N/C                     CC(NC)=O  9.100000

[183 rows x 3 columns]

In [23]:
for i in range(len(tauts)):
    tauts.loc[i,'T1']=standardize_smiles(tauts.loc[i,'T1'])
    tauts.loc[i,'T2']=standardize_smiles(tauts.loc[i,'T2'])

tauts

                            T1                         T2      logK
TautID
0                Oc1ccnc(Cl)c1          O=c1cc[nH]c(Cl)c1  0.087150
1                O=c1cc[nH]cn1              O=c1ccnc[nH]1  0.367977
2       O=C1ON=C(c2ccccc2)C1Br  O=c1o[nH]c(-c2ccccc2)c1Br  0.602060
3              Cc1cc(=O)o[nH]1              CC1=NOC(=O)C1  0.367977
4       CC(C)(C)c1cc(=O)o[nH]1       CC(C)(C)C1=NOC(=O)C1  0.367977
...                        ...                        ...       ...
178            C/N=N/c1ccccc1O         CN/N=C1/C=CC=CC1=O  0.200000
179          C/N=C(\S)c1ccccc1            CNC(=S)c1ccccc1  8.800000
180          C/N=C(\O)c1ccccc1            CNC(=O)c1ccccc1  8.600000
181         C/N=C(\C)c1ccccc1O      CN/C(C)=C1/C=CC=CC1=O  0.600000
182                 C/N=C(/C)O                   CNC(C)=O  9.100000

[183 rows x 3 columns]

In [24]:
T1=tauts[['T1']]
T1.to_csv('T1.csv')

In [25]:
T2=tauts[['T2']]
T2.to_csv('T2.csv')

In [26]:
logK=tauts[['logK']]
logK.to_csv('logK.csv')